Source: pyserial-asyncio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/pyserial/pyserial-asyncio

Package: python3-pyserial-asyncio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python Serial Port Extension - Asynchronous I/O support
 Async I/O extension package for the Python Serial Port Extension for OSX, Linux, BSD
 .
 - Documentation: http://pyserial-asyncio.readthedocs.io
 - Project Homepage: https://github.com/pyserial/pyserial-asyncio
 .

